In [ ]:
-- *******************************
-- ! 1. í…Œì´ë¸” ìƒì„±/ìˆ˜ì •/ì‚­ì œ
-- * CREATE TABLE - í…Œì´ë¸” ë§Œë“¤ê¸°
CREATE TABLE people (
  person_id INT,
  person_name VARCHAR(10),
  age TINYINT,
  birthday DATE
);

-- * ALTER TABLE - í…Œì´ë¸” ë³€ê²½
-- í…Œì´ë¸”ëª… ë³€ê²½
ALTER TABLE people RENAME TO  friends,
-- ì»¬ëŸ¼ ìë£Œí˜• ë³€ê²½
CHANGE COLUMN person_id person_id TINYINT,
-- ì»¬ëŸ¼ëª… ë³€ê²½
CHANGE COLUMN person_name person_nickname VARCHAR(10), 
-- ì»¬ëŸ¼ ì‚­ì œ
DROP COLUMN birthday,
-- ì»¬ëŸ¼ ì¶”ê°€
ADD COLUMN is_married TINYINT AFTER age;

-- *DROP TABLE - í…Œì´ë¸” ì‚­ì œ
DROP TABLE friends;

In [ ]:
-- *******************************
-- ! 2. INSERT INTO - ë°ì´í„° ì‚½ì…
INSERT INTO people
  (person_id, person_name, age, birthday)
  VALUES (1, 'í™ê¸¸ë™', 21, '2000-01-31');

  -- ëª¨ë“  ì»¬ëŸ¼ì— ê°’ ë„£ì„ ë•ŒëŠ” ì»¬ëŸ¼ëª…ë“¤ ìƒëµ ê°€ëŠ¥
INSERT INTO people
  VALUES (2, 'ì „ìš°ì¹˜', 18, '2003-05-12');

  -- ì¼ë¶€ ì»¬ëŸ¼ì—ë§Œ ê°’ ë„£ê¸° ê°€ëŠ¥ (NOT NULLì€ ìƒëµ ë¶ˆê°€)
INSERT INTO people
  (person_id, person_name, birthday)
  VALUES (3, 'ì„êº½ì •', '1995-11-04');

  -- ìë£Œí˜•ì— ë§ì§€ ì•ŠëŠ” ê°’ì€ ì˜¤ë¥˜ ë°œìƒ
INSERT INTO people
  (person_id, person_name, age, birthday)
  VALUES (1, 'ì„êº½ì •', 'ìŠ¤ë¬¼ì—¬ì„¯', '1995-11-04');

  -- ì—¬ëŸ¬ í–‰ì„ í•œ ë²ˆì— ì…ë ¥ ê°€ëŠ¥
INSERT INTO people
  (person_id, person_name, age, birthday)
  VALUES 
    (4, 'ì¡´ ìŠ¤ë¯¸ìŠ¤', 30, '1991-03-01'),
    (5, 'ë£¨í”¼ D. ëª½í‚¤', 15, '2006-12-07'),
    (6, 'í™©ë¹„í™', 24, '1997-10-30');

In [ ]:
-- *******************************
-- ! 3. í…Œì´ë¸” ìƒì„±ì‹œ ì œì•½ ë„£ê¸°
CREATE TABLE people (
  person_id INT AUTO_INCREMENT PRIMARY KEY,
  person_name VARCHAR(10) NOT NULL,
  nickname VARCHAR(10) UNIQUE NOT NULL,
  age TINYINT UNSIGNED,
  is_married TINYINT DEFAULT 0
);
--ğŸ’¡ PRIMARY KEY (ê¸°ë³¸í‚¤)
-- í…Œì´ë¸”ë§ˆë‹¤ í•˜ë‚˜ë§Œ ê°€ëŠ¥
-- ê¸°ë³¸ì ìœ¼ë¡œ ì¸ë±ìŠ¤ ìƒì„± (ê¸°ë³¸í‚¤ í–‰ ê¸°ì¤€ìœ¼ë¡œ ë¹ ë¥¸ ê²€ìƒ‰ ê°€ëŠ¥)
-- ë³´í†µ AUTO_INCREMENTì™€ í•¨ê»˜ ì‚¬ìš©
-- â­ ê° í–‰ì„ ê³ ìœ í•˜ê²Œ ì‹ë³„ ê°€ëŠ¥ - í…Œì´ë¸”ë§ˆë‹¤ í•˜ë‚˜ì”© ë‘˜ ê²ƒ

INSERT INTO people 
  (person_name, nickname, age)
  VALUES ('ê¹€ì² ìˆ˜', 'ì•„ì´ì–¸ì›Œí„°', 10);

INSERT INTO people 
  (person_name, nickname, age)
  VALUES ('ì´ë¶ˆê°€', 'ì„íŒŒì„œë¸”', -2);
  
INSERT INTO people 
  (person_name, nickname, age, is_married)
  VALUES ('ë°•ì‡³ë¬¼', 'ì•„ì´ì–¸ì›Œí„°', NULL, 1);
  -- nicknameì— NULL, 'ì•„ì´ì–¸ìˆ˜' ë„£ì–´ë³´ê¸°