In [ ]:
-- *******************************
--! 6. 원하는 별명(alias)으로 데이터 가져오기
SELECT
  CustomerId AS ID,
  CustomerName AS NAME,
  Address AS ADDR
FROM Customers;
--# 데이터 열을 as(~라는 이름으로) 가져오기

SELECT
  CustomerId AS '아이디',
  CustomerName AS '고객명',
  Address AS '주소'
FROM Customers;

--#todo 모두 활용
SELECT
  CustomerID AS '아이디',
  CustomerName AS '고객명',
  City AS '도시',
  Country AS '국가'
FROM Customers
WHERE
  City = 'London' OR Country = 'Mexico'
ORDER BY CustomerName
LIMIT 0, 5;
--# 아이디, 고객명, 도시, 국가 로 바꾸고(AS) 'london' 과 'mexico' 를 가지고 있고, CustomerName으로 정렬한 후 상위 5개 출력

In [ ]:
-- #*******************************
--! 7. 사칙연산
SELECT 1 + 2;
SELECT 5 - 2.5 AS DIFFERENCE;
SELECT 3 * (2 + 4) / 2, 'Hello';
SELECT 10 % 3;
--# 문자열에 사칙연산을 가하면 0으로 인식
SELECT 'ABC' + 3;
SELECT 'ABC' * 3;
SELECT '1' + '002' * 3;

SELECT
  OrderID + ProductID
FROM OrderDetails;
--#OrderID 와 ProductID를 더한 값이 나온다

SELECT
  ProductName,
  Price / 2 AS HalfPrice
FROM Products;
--# price 절반 가격한거를 halfprice 열로 출력

In [ ]:
--#*******************************
--! 8. 참/거짓 관련 연산자
SELECT TRUE, FALSE;
#todo true 는 1 false 는 0으로 나온다
SELECT !TRUE, NOT 1, !FALSE, NOT FALSE;
--# 0 0 1 1
SELECT 0 = TRUE, 1 = TRUE, 0 = FALSE, 1 = FALSE;
--# 0 1 1 0
SELECT * FROM Customers WHERE TRUE;
--#전체 다 나옴 
SELECT * FROM Customers WHERE FALSE;
--#아무것도 안 나옴

In [ ]:

--todo IS / IS NOT
SELECT TRUE IS TRUE;
SELECT TRUE IS NOT FALSE;
SELECT (TRUE IS FALSE) IS NOT TRUE;

--todo AND && / OR ||
SELECT TRUE AND FALSE, TRUE OR FALSE;
SELECT 2 + 3 = 6 OR 2 * 3 = 6;
--#1 출력
SELECT 2 + 3 = 6 AND 2 * 3 = 6;
--#0 출력

SELECT * FROM Orders
WHERE
  CustomerId = 15 AND EmployeeId = 4;
--#CustomerId 가 15 이면서 동시에, EmployeeId 가 4인 데이터

SELECT * FROM Products 
WHERE
  ProductName = 'Tofu' OR CategoryId = 8;
  --#Tofu 이거나 동시에, CategoryId 가 8인 데이터


SELECT * FROM OrderDetails
WHERE
  ProductId = 20
  AND (OrderId = 10514 OR Quantity = 50);

In [ ]:

--todo = != <> <,> , >=, <=
SELECT 1 = 1, !(1 <> 1), NOT (1 < 2), 1 > 0 IS NOT FALSE;
SELECT 'A' = 'A', 'A' != 'B', 'A' < 'B', 'A' > 'B';
SELECT 'Apple' > 'Banana' OR 1 < 2 IS TRUE;

In [ ]:

--todo 기본 사칙연산자는 대소문자 구분 안함
SELECT 'A' = 'a';
-- 1 (true)

SELECT
  ProductName, Price,
  Price > 20 AS EXPENSIVE 
FROM Products;
-- price가 20이 넘는가에 따라 expensive 열에 true(1) / false(0) 이 새겨진다.

SELECT
  ProductName, Price,
  NOT Price > 20 AS CHEAP 
FROM Products;

In [ ]:
-- #todo Between A AND B
SELECT 5 BETWEEN 1 AND 10;
-- true(1)

SELECT 'banana' NOT BETWEEN 'Apple' AND 'camera';
-- b는 a와 c 사이에 있으므로, NOT BETWEEN 은 false

SELECT * FROM OrderDetails
WHERE ProductID BETWEEN 1 AND 4;

SELECT * FROM Customers
WHERE CustomerName BETWEEN 'b' AND 'c';

In [ ]:

-- #todo IN / NOT IN
SELECT 1 + 2 IN (2, 3, 4) 
-- true(1)

SELECT 'Hello' IN (1, TRUE, 'hello')
-- true(1)

SELECT * FROM Customers
WHERE City IN ('Torino', 'Paris', 'Portland', 'Madrid')

In [ ]:

-- #todo LIKE
--like 옆에 문자와 비슷하게 생겼는지 물어보는 코드
SELECT
  'HELLO' LIKE 'hel%', #1(true)
  'HELLO' LIKE 'H%', #1(true)
  'HELLO' LIKE 'H%O', #1(true)
  'HELLO' LIKE '%O', #1(true)
  'HELLO' LIKE '%HELLO%', #1(true)
  'HELLO' LIKE '%H', #0(False)
  'HELLO' LIKE 'L%' #0(False)

SELECT
  'HELLO' LIKE 'HEL__', #1(true)
  'HELLO' LIKE 'h___O', #1(true)  소문자여도 가능
  'HELLO' LIKE 'HE_LO', #1(true)
  'HELLO' LIKE '_____', #1(true)
  'HELLO' LIKE '_HELLO', #0(False)  앞에 문자 없음
  'HELLO' LIKE 'HEL_', #0(False)  공백이 두자리 필요한데 한자리만
  'HELLO' LIKE 'H_O' #0(False)  공백이 부족

SELECT * FROM Employees
WHERE Notes LIKE '%economics%'
--notes 에 economics가 있는 데이터 뽑아오기

SELECT * FROM OrderDetails
WHERE OrderID LIKE '1025_'
--OrderID 에 1025_ 가 있는 데이터 뽑아오기
-- 숫자로 구성된 문자열은 숫자로 자동인식