In [ ]:
--# *******************************
-- #! 9 숫자와 관련된 함수들
-- # todo 반올림 / 올림 / 내림
SELECT 
  ROUND(0.5),  #반올림
  CEIL(0.4),  #올림
  FLOOR(0.6);  #내림

SELECT 
  Price,
  ROUND(price), # 반올림 된 새로운 열
  CEIL(price), #올림 된 새로운 열
  FLOOR(price) #내림 된 새로운 열
FROM Products;


-- # todo 절대값
SELECT ABS(1), ABS(-1), ABS(3 - 10); #절대값
--#1 1 7

SELECT * FROM OrderDetails
WHERE ABS(Quantity - 10) < 5;

In [ ]:

-- #todo 최댓값 최솟값
SELECT 
  GREATEST(1, 2, 3), #최댓값 3
  LEAST(1, 2, 3, 4, 5);  #최솟값 1

SELECT
  OrderDetailID, ProductID, Quantity,
  GREATEST(OrderDetailID, ProductID, Quantity), #최댓값 새로운 행 
  LEAST(OrderDetailID, ProductID, Quantity)  #최솟값 새로운 행 
FROM OrderDetails;

In [ ]:

-- #todo 큰 값, 작은 값, 갯수, 총합, 평균값
SELECT
  MAX(Quantity), #가장 큰 값
  MIN(Quantity),#가장 작은 값
  COUNT(Quantity), #갯수 null값 제외
  SUM(Quantity), #총합
  AVG(Quantity)  #평균 값 
FROM OrderDetails
WHERE OrderDetailID BETWEEN 20 AND 30; #OrderDetailID 중 20 ~ 30 사이 값.

In [ ]:

-- #todo 제곱 / 제곱근
SELECT
  POW(2, 3), #8
  POWER(5, 2), #25
  SQRT(16); #4

In [ ]:

-- #todo 소숫점 n자리까지 선택
SELECT
  TRUNCATE(1234.5678, 1), #1234.5
  TRUNCATE(1234.5678, 2), #1234.56
  TRUNCATE(1234.5678, 3), #1234.567
  TRUNCATE(1234.5678, -1), #1230
  TRUNCATE(1234.5678, -2), #1200
  TRUNCATE(1234.5678, -3); #1000

In [ ]:
-- #*******************************
-- #! 10. 문자열 관련 함수들

-- #todo 대문자로, 소문자로
SELECT
  UPPER('abcDEF'), #ABCDEF
  LOWER('abcDEF'); #abcdef

SELECT
  UCASE(CustomerName),
  LCASE(ContactName)
FROM Customers;
-- # CustomerName은 대문자, ContactName는 소문자로

In [ ]:

-- #todo 괄호 안 내용 이어붙이기
SELECT CONCAT('HELLO', ' ', 'THIS IS ', 2021)
SELECT CONCAT_WS('-', 2021, 8, 15, 'AM') #CONCAT_WS는 -로 각 문장을 이어붙이는 것 ex) 2021-8-15-AM
SELECT CONCAT('O-ID: ', OrderID) FROM Orders;
SELECT
-- #CONCAT_WS(' ', FirstName, LastName) AS FullName # FirstName 과 LastName 사이에 ' '공백을 넣어서 Fullname 열을 새로 만들어주기.
FROM Employees;

In [ ]:

-- #todo 문자열 자름, 왼쪽부터, 오른쪽부터
SELECT
  SUBSTR('ABCDEFG', 3), #CDEFG
  SUBSTR('ABCDEFG', 3, 2), #CD	
  SUBSTR('ABCDEFG', -4), #DEFG
  SUBSTR('ABCDEFG', -4, 2); #DE

SELECT
  LEFT('ABCDEFG', 3), #ABC
  RIGHT('ABCDEFG', 3); #EFG

SELECT
  OrderDate,
  LEFT(OrderDate, 4) AS Year, #1997 같은 연도
  SUBSTR(OrderDate, 6, 2) AS #07 05 같은 월
  RIGHT(OrderDate, 2) AS Day #04 05 12 같은 날짜.
FROM Orders;

In [ ]:

--#todo 문자열 바이트 길이, 문자 길이
SELECT
  LENGTH('ABCDE'),  #5
  CHAR_LENGTH('ABCDE'),  #5
  CHARACTER_LENGTH('ABCDE');  #5

SELECT
  LENGTH('안녕하세요'), #15
  CHAR_LENGTH('안녕하세요'), #5
  CHARACTER_LENGTH('안녕하세요'); #5

In [ ]:

-- #todo 공백 제거
SELECT
  CONCAT('|', ' HELLO ', '|'),
  CONCAT('|', LTRIM(' HELLO '), '|'),
  CONCAT('|', RTRIM(' HELLO '), '|'),
  CONCAT('|', TRIM(' HELLO '), '|');

SELECT * FROM Categories
WHERE CategoryName = ' Beverages '
-- #결과 없음

SELECT * FROM Categories
WHERE CategoryName = TRIM(' Beverages ')
-- #결과 나옴

In [ ]:

--#todo 자릿수 채워넣기
SELECT
  LPAD('ABC', 5, '-'), -- #--ABC	
  RPAD('ABC', 5, '-'); -- #ABC--

SELECT
  LPAD(SupplierID, 5, 0), --# SupplierID를 불러와서 5자리로 만들기, 자릿수에 안 맞는다면 0으로 채워넣기.
  RPAD(Price, 6, 0)
FROM Products;

In [ ]:

--#todo 대체 A 에서 B를 C로 변경
SELECT
  REPLACE('맥도날드에서 맥도날드 햄버거를 먹었다.', '맥도날드', '버거킹');
  --#맥도날드를 버거킹으로 교체
  --#버거킹에서 버거킹 햄버거를 먹었다.
SELECT
  REPLACE(Description, ', ', ' and ')
FROM Categories;
--#, 를 and로 교체

In [ ]:
-- todo STR 안에 문자 확인 , 없을 시 0
SELECT
  INSTR('ABCDE', 'ABC'), --1
  INSTR('ABCDE', 'BCDE'), --2
  INSTR('ABCDE', 'C'), --3
  INSTR('ABCDE', 'DE'), --4
  INSTR('ABCDE', 'F'); --0

SELECT * FROM Customers
WHERE INSTR(CustomerName, ' ') BETWEEN 1 AND 6;
-- < first name이 한글자부터 다섯글자까지 이신 분들

In [ ]:
--todo A를 B 자료형으로 변환
SELECT
  '01' = '1',
  CONVERT('01', DECIMAL) = CONVERT('1', DECIMAL);