In [ ]:
-- *******************************
--! 11. 시간/날짜 관련 함수들

--todo 현재 날짜, 시간을 반환하기
SELECT CURDATE(), CURTIME(), NOW();
--현재 시간과 날짜를 표시

--todo 문자열에 따라 날짜, 시간 생성
SELECT
  '2021-6-1' = '2021-06-01', -- 0
  DATE('2021-6-1') = DATE('2021-06-01'), -- 1
  '1:2:3' = '01:02:03', -- 0
  TIME('1:2:3') = TIME('01:02:03'); -- 1

SELECT
  '2021-6-1 1:2:3' = '2021-06-01 01:02:03', -- 0
  DATE('2021-6-1 1:2:3') = DATE('2021-06-01 01:02:03'), -- 1
  TIME('2021-6-1 1:2:3') = TIME('2021-06-01 01:02:03'), -- 1
  DATE('2021-6-1 1:2:3') = TIME('2021-06-01 01:02:03'), -- 0
  DATE('2021-6-1') = DATE('2021-06-01 01:02:03'), -- 1
  TIME('2021-6-1 1:2:3') = TIME('01:02:03'); -- 1

SELECT * FROM Orders
WHERE
  OrderDate BETWEEN DATE('1997-1-1') AND DATE('1997-1-31');
  --1월 1일부터 31일까지 날짜인 데이터 추출

In [ ]:
--todo DATETIME의 정보 반환
SELECT
  OrderDate,
  YEAR(OrderDate) AS YEAR, --연도 반환
  MONTHNAME(OrderDate) AS MONTHNAME, --월 반환
  MONTH(OrderDate) AS MONTH,
  WEEKDAY(OrderDate) AS WEEKDAY, --주 반환
  DAYNAME(OrderDate) AS DAYNAME, --요일명 반환
  DAY(OrderDate) AS DAY --날짜 반환
FROM Orders;

SELECT
  OrderDate,
  CONCAT(
    CONCAT_WS(
      '/',
      YEAR(OrderDate), MONTH(OrderDate), DAY(OrderDate)
    ),
    ' ',
    UPPER(LEFT(DAYNAME(OrderDate), 3))
  )
FROM Orders;

SELECT * FROM Orders
WHERE WEEKDAY(OrderDate) = 0;

In [ ]:
--todo 주어진 DATETIME의 시 분 초 반환
SELECT
  HOUR(NOW()), MINUTE(NOW()), SECOND(NOW());

--todo 시간/ 날짜 더하기 , 빼기 
SELECT 
  ADDDATE('2021-06-20', INTERVAL 1 YEAR),
  ADDDATE('2021-06-20', INTERVAL -2 MONTH),
  ADDDATE('2021-06-20', INTERVAL 3 WEEK),
  ADDDATE('2021-06-20', INTERVAL -4 DAY),
  ADDDATE('2021-06-20', INTERVAL -5 MINUTE),
  ADDDATE('2021-06-20 13:01:12', INTERVAL 6 SECOND);

In [ ]:
SELECT
  OrderDate,
  ADDDATE(OrderDate, INTERVAL 1 YEAR),
  ADDDATE(OrderDate, INTERVAL -2 MONTH),
  ADDDATE(OrderDate, INTERVAL 3 WEEK),
  ADDDATE(OrderDate, INTERVAL -4 DAY),
  ADDDATE(OrderDate, INTERVAL -5 MINUTE)
FROM Orders;

In [ ]:
--todo 두 시간 / 날짜간 일수, 시간차
SELECT
  OrderDate,
  NOW(),
  DATEDIFF(OrderDate, NOW())
FROM Orders;

SELECT
  TIMEDIFF('2021-06-21 15:20:35', '2021-06-21 16:34:41');


SELECT * FROM Orders
WHERE
  ABS(DATEDIFF(OrderDate, '1996-10-10')) < 5;

In [ ]:

--todo 해당 달의 마지막 날짜.
SELECT
  OrderDate,
  LAST_DAY(OrderDate),
  DAY(LAST_DAY(OrderDate)),
  DATEDIFF(LAST_DAY(OrderDate), OrderDate)
FROM Orders;

In [ ]:
--todo 시간/날짜를 지정한 형식으로 반환
SELECT
  DATE_FORMAT(NOW(), '%M %D, %Y %T'), --월, 일, 연도4자리, hh:mm:ss
  DATE_FORMAT(NOW(), '%y-%m-%d %h:%i:%s %p'),
  DATE_FORMAT(NOW(), '%Y년 %m월 %d일 %p %h시 %i분 %s초');

SELECT REPLACE(
  REPLACE(
    DATE_FORMAT(NOW(), '%Y년 %m월 %d일 %p %h시 %i분 %초'),
    'AM', '오전'
  ),
  'PM', '오후'
)

In [ ]:
--todo 날짜 s를 f 형식으로 해석하여 시간/ 날짜 생성
SELECT
  DATEDIFF(
    STR_TO_DATE('2021-06-04 07:48:52', '%Y-%m-%d %T'),
    STR_TO_DATE('2021-06-01 12:30:05', '%Y-%m-%d %T')
  ),
  TIMEDIFF(
    STR_TO_DATE('2021-06-04 07:48:52', '%Y-%m-%d %T'),
    STR_TO_DATE('2021-06-01 12:30:05', '%Y-%m-%d %T')
  );

In [ ]:
SELECT
  OrderDate,
  DATEDIFF(
    STR_TO_DATE('1997-01-01 13:24:35', '%Y-%m-%d %T'),
    OrderDate
  ),
  TIMEDIFF(
    STR_TO_DATE('1997-01-01 13:24:35', '%Y-%m-%d %T'),
    STR_TO_DATE(CONCAT(OrderDate, ' ', '00:00:00'), '%Y-%m-%d %T')
  )
FROM Orders;

In [ ]:
-- *******************************
-- ! 12. 기타 함수들

--todo 조건이 참이라면 T, 거짓이라면 F 반환
SELECT IF (1 > 2, '1는 2보다 크다.', '1은 2보다 작다.');

--CASE
SELECT
CASE
  WHEN -1 > 0 THEN '-1은 양수다.'
  WHEN -1 = 0 THEN '-1은 0이다.'
  ELSE '-1은 음수다.'
END;

SELECT
  Price,
  IF (Price > 30, 'Expensive', 'Cheap'),
  CASE
    WHEN Price < 20 THEN '저가'
    WHEN Price BETWEEN 20 AND 30 THEN '일반'
    ELSE '고가'
  END
FROM Products;

--todo A가 null일 때 B출력
SELECT
  IFNULL('A', 'B'),
  IFNULL(NULL, 'B');