In [ ]:
-- *******************************
-- ! 13. GROUP BY - 조건에 따라 집계된 값을 가져옵니다.
SELECT Country FROM Customers
GROUP BY Country;
--모든 country라는 그룹을 묶어줄 수 있다.
--어떤 값 종류가 들어있는지 확인하기 편할듯!

SELECT CategoryID FROM Products
GROUP BY CategoryID;
--CategoryID 에는 어떤 값이 있는지 확인 가능

--todo 여러 컬럼을 기준으로 그룹화할 수도 있습니다.
SELECT 
  Country, City,
  CONCAT_WS(', ', City, Country)
FROM Customers
GROUP BY Country, City;
-- 칼럼 + 칼럼 기준으로 묶을 수 있다.
--ex ) Paris, France / 	Strasbourg, France

In [ ]:
--todo 그룹 함수 활용하기
SELECT
  COUNT(*), OrderDate
FROM Orders
GROUP BY OrderDate;
--COUNT로 OrderDate에 해당하는 사람이 몇명인지 볼 수 있다.
-- ex) 총 데이터 중 1996-07-08 출신은 2명 있다.

SELECT
  ProductID,
  SUM(Quantity) AS QuantitySum
FROM OrderDetails
GROUP BY ProductID
ORDER BY QuantitySum DESC;
--SUM 으로 ProductID 60은 총 합이 1577인걸 확인할 수 있다.

SELECT
  CategoryID,
  MAX(Price) AS MaxPrice, 
  MIN(Price) AS MinPrice,
  TRUNCATE((MAX(Price) + MIN(Price)) / 2, 2) AS MedianPrice,
  TRUNCATE(AVG(Price), 2) AS AveragePrice
FROM Products
GROUP BY CategoryID;

SELECT 
  CONCAT_WS(', ', City, Country) AS Location,
  COUNT(CustomerID)
FROM Customers
GROUP BY Country, City;
-- city와 country를 합쳐준 후 세어줄 수 있다.
--Paris, France 에 사는 사람은 2명이다.

In [ ]:
-- WITH ROLLUP - 전체의 집계값
SELECT
  Country, COUNT(*)
FROM Suppliers
GROUP BY Country
WITH ROLLUP;
--count 해준 전체 집계값

--HAVING - 그룹화된 데이터 걸러내기
SELECT
  Country, COUNT(*) AS Count
FROM Suppliers
GROUP BY Country
HAVING Count >= 3;
--France	3 명 사는 것으로 확인할 수 있다. 즉, 조건 걸어서 확인 가능

-- WHERE는 그룹하기 전 데이터, HAVING은 그룹 후 집계에 사용합니다.
SELECT
  COUNT(*) AS Count, OrderDate
FROM Orders
WHERE OrderDate > DATE('1996-12-31')
GROUP BY OrderDate
HAVING Count > 2;
--WHERE를 통해 97년생 이후 부터 생년월일 날짜 겹치는 사람을 확인해볼 수 있다.
--3	1997-12-16 3명이 겹친다. 

SELECT
  CategoryID,
  MAX(Price) AS MaxPrice, 
  MIN(Price) AS MinPrice,
  TRUNCATE((MAX(Price) + MIN(Price)) / 2, 2) AS MedianPrice,
  TRUNCATE(AVG(Price), 2) AS AveragePrice
FROM Products
-- 먼저, 해당 범위를 걸어주기
WHERE CategoryID > 2
GROUP BY CategoryID
-- 해당 조건 값 걸어주기
HAVING
  AveragePrice BETWEEN 20 AND 30
  AND MedianPrice < 40;

In [ ]:
-- *******************************
-- ! 14. DISTINCT - 중복된 값들을 제거합니다.
--GROUP BY 와 달리 집계함수가 사용되지 않습니다.
--GROUP BY 와 달리 --! 정렬하지 않으므로 더 빠릅니다.

SELECT DISTINCT CategoryID
FROM Products;
-- TODO 위의 GROUP BY를 사용한 쿼리와 결과 비교

SELECT COUNT DISTINCT CategoryID
FROM Products;
-- 오류 발생
--집계를 하지 않기 때문에

SELECT DISTINCT Country
FROM Customers
ORDER BY Country;

SELECT DISTINCT Country, City
FROM Customers
ORDER BY Country, City;

--TODO GROUP BY와 DISTINCT 함께 활용하기
SELECT
  Country,
  COUNT(DISTINCT CITY)
FROM Customers
GROUP BY Country;

-- *******************************
-- 각종 연산자들