In [ ]:
-- *******************************
-- ! 3. JOIN(INNER JOIN) - ë‚´ë¶€ ì¡°ì¸
--ì–‘ìª½ ëª¨ë‘ì— ê°’ì´ ìˆëŠ” í–‰(NOT NULL) ë°˜í™˜
--'INNER 'ëŠ” ì„ íƒì‚¬í•­
SELECT * FROM Categories C
JOIN Products P 
  ON C.CategoryID = P.CategoryID; 

SELECT C.CategoryID, C.CategoryName, P.ProductName
FROM Categories C
JOIN Products P 
  ON C.CategoryID = P.CategoryID; 
-- ambiguous ì£¼ì˜!

SELECT
  CONCAT(
    P.ProductName, ' by ', S.SupplierName
  ) AS Product,
  S.Phone, P.Price
FROM Products P
JOIN Suppliers S
  ON P.SupplierID = S.SupplierID
WHERE Price > 50
ORDER BY ProductName;

--ğŸ’¡ ì—¬ëŸ¬ í…Œì´ë¸”ì„ JOINí•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.
SELECT 
  C.CategoryID, C.CategoryName, 
  P.ProductName, 
  O.OrderDate,
  D.Quantity
FROM Categories C
JOIN Products P 
  ON C.CategoryID = P.CategoryID
JOIN OrderDetails D
  ON P.ProductID = D.ProductID
JOIN Orders O
  ON O.OrderID = D.OrderID;

--ğŸ’¡ JOINí•œ í…Œì´ë¸” GROUPí•˜ê¸°
SELECT 
  C.CategoryName,
  MIN(O.OrderDate) AS FirstOrder,
  MAX(O.OrderDate) AS LastOrder,
  SUM(D.Quantity) AS TotalQuantity
FROM Categories C
JOIN Products P 
  ON C.CategoryID = P.CategoryID
JOIN OrderDetails D
  ON P.ProductID = D.ProductID
JOIN Orders O
  ON O.OrderID = D.OrderID
GROUP BY C.CategoryID;

SELECT 
  C.CategoryName, P.ProductName,
  MIN(O.OrderDate) AS FirstOrder,
  MAX(O.OrderDate) AS LastOrder,
  SUM(D.Quantity) AS TotalQuantity
FROM Categories C
JOIN Products P 
  ON C.CategoryID = P.CategoryID
JOIN OrderDetails D
  ON P.ProductID = D.ProductID
JOIN Orders O
  ON O.OrderID = D.OrderID
GROUP BY C.CategoryID, P.ProductID;


--ğŸ’¡ SELF JOIN - ê°™ì€ í…Œì´ë¸”ë¼ë¦¬
SELECT
  E1.EmployeeID, CONCAT_WS(' ', E1.FirstName, E1.LastName) AS Employee,
  E2.EmployeeID, CONCAT_WS(' ', E2.FirstName, E2.LastName) AS NextEmployee
FROM Employees E1 JOIN Employees E2
ON E1.EmployeeID + 1 = E2.EmployeeID;

-- 1ë²ˆì˜ ì „, ë§ˆì§€ë§‰ ë²ˆí˜¸ì˜ ë‹¤ìŒì€?

In [ ]:
-- *******************************
-- ! 4. LEFT/RIGHT OUTER JOIN - ì™¸ë¶€ ì¡°ì¸
-- ë°˜ëŒ€ìª½ì— ë°ì´í„°ê°€ ìˆë“  ì—†ë“ (NULL), ì„ íƒëœ ë°©í–¥ì— ìˆìœ¼ë©´ ì¶œë ¥ - í–‰ ìˆ˜ ê²°ì •
-- 'OUTER 'ëŠ” ì„ íƒì‚¬í•­
SELECT
  E1.EmployeeID, CONCAT_WS(' ', E1.FirstName, E1.LastName) AS Employee,
  E2.EmployeeID, CONCAT_WS(' ', E2.FirstName, E2.LastName) AS NextEmployee
FROM Employees E1
LEFT JOIN Employees E2
ON E1.EmployeeID + 1 = E2.EmployeeID
ORDER BY E1.EmployeeID;

-- LEFTë¥¼ RIGHTë¡œ ë°”ê¿”ì„œë„ ì‹¤í–‰í•´ ë³¼ ê²ƒ

In [ ]:

SELECT
  C.CustomerName, S.SupplierName,
  C.City, C.Country
FROM Customers C
LEFT JOIN Suppliers S
ON C.City = S.City AND C.Country = S.Country;
-- LEFTë¥¼ RIGHTë¡œ ë°”ê¿”ì„œë„ ì‹¤í–‰í•´ ë³¼ ê²ƒ

In [ ]:

SELECT
  IFNULL(C.CustomerName, '-- NO CUSTOMER --'),
  IFNULL(S.SupplierName, '-- NO SUPPLIER --'),
  IFNULL(C.City, S.City),
  IFNULL(C.Country, S.Country)
FROM Customers C
LEFT JOIN Suppliers S
ON C.City = S.City AND C.Country = S.Country;

-- LEFTë¥¼ RIGHTë¡œ ë°”ê¿”ì„œë„ ì‹¤í–‰í•´ ë³¼ ê²ƒ

In [ ]:
-- *******************************
-- ! 5. CROSS JOIN - êµì°¨ ì¡°ì¸
-- ì¡°ê±´ ì—†ì´ ëª¨ë“  ì¡°í•© ë°˜í™˜(A * B)

SELECT
  E1.LastName, E2.FirstName
FROM Employees E1
CROSS JOIN Employees E2
ORDER BY E1.EmployeeID;